* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
}
@media (min-width: 576px) {
  * {
    font-size: calc(12px + 2px);
  }
}
@media (min-width: 768px) {
  * {
    font-size: calc(12px + 4px);
  }
}
@media (min-width: 992px) {
  * {
    font-size: calc(12px + 6px);
  }
}
@media (min-width: 1200px) {
  * {
    font-size: calc(12px + 8px);
  }
}
@media (min-width: 1400px) {
  * {
    font-size: calc(12px + 10px);
  }
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
@media (min-width: 576px) {
  * {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  * {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  * {
    font-size: 16px;
  }
}
@media (min-width: 1400px) {
  * {
    font-size: 16px;
  }
}

html {
  width: 100vw;
  min-height: 100vh;
}
html body {
  width: 100%;
  height: 100%;
  background-color: #ffedca;
}
html body main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
html body main section {
  width: 100%;
}
html body main section .content {
  width: 100%;
}
html body main section .content form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
}
html body main section .content form h1 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #8a2be2;
}
@media (min-width: 576px) {
  html body main section .content form h1 {
    font-size: 1.5rem;
  }
}
html body main section .content form hr {
  width: 100%;
  height: 4px;
  background-color: #0000ff;
  margin-bottom: 0.5rem;
}
html body main section .content form hr:last-child {
  margin-top: 0.5rem;
}
html body main section .content form table tbody tr td input {
  width: 100%;
  height: 35px;
  padding: 0 1rem;
  outline: none;
}
html body main section .content form table tbody tr td input:hover {
  outline: none;
}
html body main section .content form table tbody tr:last-child {
  width: 100%;
}
html body main section .content form table tbody tr:last-child td {
  padding-top: 0.5rem;
}
html body main section .content form table tbody tr:last-child td div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
html body main section .content form table tbody tr:last-child td div span {
  font-style: italic;
}
html body main section .content form table tbody tr.button td div {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
html body main section .content form table tbody tr.button td div button {
  height: 35px;
  border: 1px solid gray;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  padding: 0 1rem;
}
html body main section .content form table tbody tr.button td div button:hover {
  background-color: gray;
}
