@mixin h1Text {
  font-size: 1.4rem;
  @include sm {
    font-size: 1.5rem;
  }
}

@mixin h2Text {
  font-size: 1.3rem;
  @include sm {
    font-size: 1.4rem;
  }
}

@mixin h3Text {
  font-size: 1.1rem;
  @include sm {
    font-size: 1.2rem;
  }
}