doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/style.css")
    title Giới thiệu mèo
  body
    main
      h1.title Các mèo của năm
      - var listCat = [{name: 'Mèo 1',image: './BTTH1_Hinh1/meo1.png'},{name: 'Mèo 2',image: './BTTH1_Hinh1/meo2.png'},{name: 'Mèo 3',image: './BTTH1_Hinh1/meo3.png'}, {name: 'Mèo 4',image: './BTTH1_Hinh1/meo4.png'}, {name: 'Mèo 5',image: './BTTH1_Hinh1/meo5.png'}, {name: 'Mèo 6',image: './BTTH1_Hinh1/meo6.png'}, {name: 'Mèo 7',image: './BTTH1_Hinh1/meo7.png'}]
      div.list-cat
        each cat, index in listCat
          div.item-cat
            img(src=cat.image)
            span Mèo #{index + 1}