doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/style.css")
    title Bài thực hành 1 - Bài tập 4
  body
    main
      section
        .content
          .image 
            img(src="https://picsum.photos/200/200" alt="1")
          .menu
            h1.menu__title Các món ngon
            .menu__content
              .table-head
                span.table-head__item STT
                span.table-head__item Tên món ăn
              .table-body.white-background
                span.table-body__item 1.
                span.table-body__item.flex-start Bún đậu mắm tôm
              .table-body.color-background
                span.table-body__item 2.
                span.table-body__item.flex-start Bún chả
              .table-body.white-background
                span.table-body__item 3.
                span.table-body__item.flex-start Bánh cuốn
              .table-body.color-background
                span.table-body__item 4.
                span.table-body__item.flex-start Phở
              .table-body.white-background
                span.table-body__item 5.
                span.table-body__item.flex-start Bún bò
              .table-body.color-background
                span.table-body__item 6.
                span.table-body__item.flex-start Cháo lòng
              .table-body.white-background
                span.table-body__item 7.
                span.table-body__item.flex-start Bún thịt nướng
              .table-body.color-background
                span.table-body__item.disable-border-bottom 8.
                span.table-body__item.disable-border-bottom.flex-start Cơm tấm
