* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
}
@media (min-width: 576px) {
  * {
    font-size: calc(12px + 2px);
  }
}
@media (min-width: 768px) {
  * {
    font-size: calc(12px + 4px);
  }
}
@media (min-width: 992px) {
  * {
    font-size: calc(12px + 6px);
  }
}
@media (min-width: 1200px) {
  * {
    font-size: calc(12px + 8px);
  }
}
@media (min-width: 1400px) {
  * {
    font-size: calc(12px + 10px);
  }
}

html {
  width: 100vw;
  min-height: 100vh;
}
html body {
  width: 100%;
  height: 100%;
}
html body main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
html body main section {
  width: 550px;
  background-image: url("../BTTH1_Hinh2/table-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}
html body main section .layer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.573);
}
html body main section table {
  width: 100%;
  position: relative;
  z-index: 2;
}
html body main section table tbody .tr-head {
  height: 55px;
}
@media (min-width: 992px) {
  html body main section table tbody .tr-head th span {
    font-size: 0.85rem;
  }
}
html body main section table tbody .tr-content td {
  width: 25%;
}
html body main section table tbody .tr-content td img {
  width: 100%;
}
html body main section table tbody .tr-content td span {
  text-align: center;
  display: block;
}
@media (min-width: 992px) {
  html body main section table tbody .tr-content td span {
    font-size: 0.8rem;
  }
}
