doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/style.css")
    title Bài thực hành 1 - Bài tập 9
  body
    nav
      ul
        li
          a(href="/") Trang chủ
        li.wrapper
          a(href="") Du lịch
          ul
            li
              a(href="../bai-tap-1/index.html") Bài tập 1
            li
              a(href="../bai-tap-2/index.html") Bài tập 2
            li 
              a(href="../bai-tap-3/index.html") Bài tập 3
            li
              a(href="../bai-tap-4/index.html") Bài tập 4
            li  
              a(href="../bai-tap-5/index.html") Bài tập 5
            li 
              a(href="../bai-tap-6/index.html") Bài tập 6
            li 
              a(href="../bai-tap-7/index.html") Bài tập 7
            li 
              a(href="../bai-tap-8/index.html") Bài tập 8
        li
          a(href="../TH1PugBT3/index.html") Tin tức
        li
          a(href="../TH1PugBT4/index.html") Khuyến mãi
        li
          a(href="../TH1PugBT5/index.html") Liên hệ
          
          
